
{{#if faq}}
     <div class="faqdisplayparent">
        <ol>
          <li>
            <h2>Q: {{faq.question}}</h2>
            _____________________
            <br>
            <br>
            <h3>A: {{faq.answer}}</h3>
            <br>
          </li>
          <button type="button" class="btn btn-light" id="reviewsubmitbutton"><a href="/faq/update/{{id}}"><h5
          >Update</h5></a></button>
          <br>
        <form action="/faq/delete/{{id}}" id="deletefaqform" method="post">
          <input type="submit" class="btn btn-light" id="reviewsubmitbutton" value="Delete" />
          </ol>
        <br />
      </div>
{{else}}
  <p>No FAQs to show at this time.</p>
{{/if}}