{{#if review}}
  <div class="reviewdisplayparent">
    <ol>
      <br />
      <li>
        ''{{review.text}}''
        <br />
        -{{review.name}}<br />
        ID:{{id}}</li><br />______
      <br />
      <br />
      <button type="button" class="" value="//" id="faqupdatebutton"><a
          href="/update-review/{{id}}"
        ><h4>//</h4></a>
      </button>
      <br />
      <form action="/delete-review/{{id}}" id="deletefaqform" method="get">
        <input type="submit" class="" id="faqdeletebutton" value="X" />
      </form>
    </ol>
  </div>
{{else}}
  <p>There are no reviews to show at this time.</p>
{{/if}}